

.warper {
    max-width: 80%;
    background-color: aliceblue;
    flex-wrap: wrap;
    margin: auto;
    height: 100%;
}

.products {
    flex-wrap: wrap;
    text-align: center;
    background-image: url("https://png.pngtree.com/png-clipart/20190515/original/pngtree-blue-technology-background-png-image_3722409.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    padding-bottom: 50px;
}
.products h3 {
    font-size: 28px;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
}
.product {
    margin-top: 0px;
    width: 100%;
    flex-wrap: wrap;
    transition: all 0.3s;
    overflow: hidden;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 330px);
    height: 100%;
}
.product :hover {
    transform: scale(1.005);
    filter: blur(0rem) brightness(100%);
}

.mb-form {
    width: 200px;
    height: 300px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(248, 82, 82);
    border-radius: 5px;
    margin: auto;
}

.mb-form img {
    margin-top: 10px;
    height: 30%;
    width: 50%;
}
.mb-form p {
    font-size: 20px;
    word-wrap: break-word;
}
.back-to-top {
    display: block;
    position: fixed;
    bottom: 5%;
    right: 10px;
    z-index: 9999;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 30px;
    background: #fff;
    color: #e70d0d;
    cursor: pointer;
    border: 2px #393d3f solid;
    border-radius: 99px;
}

.carousel {
    cursor: pointer;
    margin: 10px 0px;
}

a:link:hover {
    text-decoration: none;
}
a p:hover,
.price strong:hover,
.price s:hover {
    color: red;
}

.price strong {
    font-size: 15px;
    font-weight: bold;
    color: #383838;
    /* display: inline; */
}
.price s {
    font-size: 14px;
    color: #555353;
    /* display: inline; */
}
.add {
    margin-top: 10px;
    width: 100%;
}
.add button {
    width: 70%;
    background-color: rgba(255, 60, 0, 0.836);
    cursor: pointer;
}
.add button strong {
    display: block;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    text-align: center;
    padding: 5px 10px 5px 10px;
}
.add button:hover {
    background-color: rgb(255, 38, 0);
}
.carousel-container {
    width: 80%;
    margin: auto;
    border: 2px solid #111111;
    overflow: hidden;
    position: relative;
}
.carousel-slide {
    display: flex;
    width: 100%;
}

.carousel-slide img {
    width: 100%
}

#prevBtn,#nextBtn {
    position: absolute;
    top: 40%;
    color: #fff;
    font-size: 30px;
    z-index: 10;
    opacity: 0.5;
    cursor: pointer;
}
#prevBtn {
    left: 1%;
}
#nextBtn {
    right: 1%;
}

/* Mobile */
@media all and (max-width: 767px) {
    .product {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        margin: auto;
    }
    .mb-form{
        width: 200px;
    }
}